<style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
  }
</style>

<div class="row">
        
      <div style="width:25%">

            <div class="panel panel-primary">
                <button type="button" style="margin:0 3px 3px 3px" id="saveList">
                  Save
                </button>
                <br>
                <br>

                <ul id="sortable">
                </ul>

                <br>
                <br>

                <input id="newItem" style="margin:0 3px 3px 3px"></input>
                <button type="button" style="margin:0 3px 3px 3px" id="addItem">
                  Add Item
                </button>
            </div>

       </div>
</div>


<link rel="stylesheet" href="javascripts/jquery-ui-1.12.0.custom/jquery-ui.css">
<script src="javascripts/jquery-1.10.2.js"></script>
<script src="javascripts/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
<script type="text/javascript" src="javascripts/nodetest1.js"></script>
